:root {
  --cor-primaria: #930BB5;
  --cor-secundaria: #FCAEDD;
  --cor-branca: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cor-primaria);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

header {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul li a {
  color: var(--cor-branca);
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: var(--cor-branca);
  color: var(--cor-primaria);
}

a {
  color: var(--cor-primaria);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--cor-secundaria);
}

section {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--cor-primaria);
}

#equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}
#equipe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.fisioterapeuta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.fisioterapeuta img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.fisioterapeuta h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #930BB5;
}

.fisioterapeuta p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

footer {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  margin: 0 20px;
  text-align: center;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.redes-sociais a {
  margin: 0 5px;
}

h2, h3 {
  margin-bottom: 10px;
}

.footer-icon {
    width: 35px;
    height: 35px;
}

